<%= turbo_stream_from @tweet %>

<div class="container mt-3">
  <%= render "photo", tweet: @tweet %>
<strong>Tweet (<%= @tweet.shortened.size %>):</strong>
<blockquote class="blockquote"><%= @tweet.shortened %></blockquote>


<strong>Original:</strong>
  <%= simple_format @tweet.long %>
</div>
